# Running `nixos-rebuild build` or `nix build` generates a result directory.
result

# Running `nixos-rebuild build-vm` and starting the VM adds a file for the virtual storage drive.
*.qcow2

# Ignoring everything Jetbrains, as this is not a Jetbrains-bound project
.idea
